<%u = Gossip.find("#{@id}")%>
<% i = u.title%>
<% j = u.content%>
<% k = u.anonymous%>

<div class="card">
 <div class="card-header">
   <h4><em><b><%="#{i}"%> :</b></em></h4>
 </div>
 <div class="card-body">
   <blockquote class="blockquote mb-0">
     <p><%= "#{j}"%></p>
     <footer class="blockquote-footer"><%="#{k}"%></footer>
   </blockquote>
 </div>
</div>
<%= link_to "Editer le gossip", controller: "show", action: "edit" %>
<% if (u.user_id == $u) %>
<%= link_to 'Clique pour détruire', "#{u}", method: :delete %>
<% end %>
<%= link_to 'liste des potins', "/show", method: :get %>